{% extends base_template %}
{% block content %}
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h2>Last DAG Runs</h2>
      <br />
    </div>
  </div>
  <div id="main_content">
    <div id="dags_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <form id="filter_form" method="GET">
            <div class="pull-right">
              <table class="filters">
                <tr class="form-horizontal">
                  <td>
                    <select class="filter-op" name="state">
                      <option selected="selected"></option>
                      <option value="running"{% if filter == 'running' %} selected="selected"{% endif %}>Running</option>
                      <option value="success"{% if filter == 'success' %} selected="success"{% endif %}>Success</option>
                      <option value="failed"{% if filter == 'failed' %} selected="failed"{% endif %}>Failed</option>
                    </select>
                  </td>
                  <td>
                    <button type="submit" class="btn btn-primary" style="">Filter</button>
                  </td>
                </tr>
              </table>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <table id="dags" class="table table-striped table-bordered dataTable no-footer" role="grid">
            <thead>
              <tr role="row">
                <th>DAG</th>
                <th>Schedule</th>
                <th>Last run start</th>
                <th>Last run end</th>
                <th>Last run duration</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for dag in dags %}
                <tr role="row">
                  <td>
                    <a href="{{ url_for('Airflow.graph', dag_id=dag.dag_id) }}" title="Graph View">
                      {{ dag.safe_dag_id }}
                    </a>
                  </td>
                  <td>
                    <span class="label label-default schedule">
                      {{ dag.schedule_interval }}
                    </span>
                  </td>
                  <td>
                    {{ dag.last_dag_run.start_date.strftime('%c') }}
                  </td>
                  <td>
                    {% if dag.last_dag_run.end_date %}
                      {{ dag.last_dag_run.end_date.strftime('%c') }}
                    {% else %}
                      N/A
                    {% endif %}
                  </td>
                  <td>
                    {% if dag.last_dag_run.end_date %}
                      {{ dag.last_dag_run.end_date - dag.last_dag_run.start_date }}
                    {% else %}
                      N/A
                    {% endif %}
                  </td>
                  <td>
                    {% with state=dag.last_dag_run.get_state() %}
                      <span class="label" style="border: none; background-color:{{ State.color(state)}}; color: {{ State.color_fg(state) }};">
                        {{ state }}
                      </span>
                    {% endwith %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </div>
{% endblock content %}
